// .section {
//   display: flex;
//   flex-direction: row;
// }

.section ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section li:hover {
  cursor: pointer;
  background-color: $lightest-gray;
}
