<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">JAVASCRIPT</a></li>
      <li><a href="#">RUBY</a></li>
    </ul>
  </nav>

  <nav class="logo"> <img src="assets/AA_Times_Logo.png" alt="App Academy Times">
  </nav>

  <nav>
    <ul class="masthead-links">
      <li>Tuesday, October 18, 2016</li>
      <li><a href="#">Today’s Paper</a></li>
      <li><a href="#">Video</a></li>
      <li><button type="button" name="button">77°F</button></li>
      <li><button type="button" name="button">AAO +100%</button></li>
    </ul>
  </nav>
</header>
